snippet ifl "if let"
if let ${1:Some}(${2:var}) = ${2:option} {
	${0}
}
endsnippet

snippet whilel "while let"
while let ${1:Some}(${2:var}) = ${2:option} {
	${0}
}
endsnippet

snippet pfn "pub fn"
pub fn ${1:func}() {
	${0}
}
endsnippet
